{% extends 'main.html' %}
{% load static %}
{% block userInput %}
<script>
    document.title = "NSSGLAU | Applicant Details";
</script>

<section class="registration">
    <h1>Registration Form</h1>

    <div class="form-container">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="first-name">First Name</label>
            <input type="text" name="first-name" id="first-name">

            <label for="last-name">Last Name</label>
            <input type="text" name="last-name" id="last-name">


            <label for="phone-number">Phone Number</label>
            <input type="text" name="phone-number" id="phone-number">


            <label for="email">University Email</label>
            <input type="email" name="email" id="email">


            <label for="profile-picture">Profile Picture</label>
            <input type="file" accept="image/*" name="profile-picture" id="profile-picture">


            <label for="class">Designation</label>
            <select name="designation" id="designations">
                <option value="designations">Select Designation</option>
                <option value="volunteer">Volunteer</option>
                <option value="manager">Manager</option>
                <option value="admin">Admin</option>
            </select>

            <input class="btn btn-primary" type="submit" id="submit-btn" value="Submit">
        </form>
    </div>
    {% if error == "no" %}
    <script>
        alert("Your Application Submitted Successfully, We'll reach you as soon as possible!");
        window.location = ("{% url 'home' %}");
    </script>
    {% endif %}

    {% if error == "yes" %}
    <script>
        alert('Something went wrong,Try Again');
        window.location = ("{% url 'home' %}");
    </script>
    {% endif %}
</section>
{% endblock %}